%message{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 20px;
    display:flex;
    flex-wrap: wrap;
    text-align: center;  
}
$out_color:purple;
$in_color:navy;
.div_in{
    @extend %message;
    background-color: $out_color;
    color:aquamarine;
    width: 200px;
    padding: 20px;
    justify-content: center;
          
}
.div_out{
    @extend %message;
    background-color: $in_color;
    gap:20px;

}
